.summary-tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-container {
  display: flex;
  gap: 1rem;
}

.summary-card {
  flex: 1;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f2f5;
  border: #ccc; 
  padding: 1rem;
  text-align: left;
}

.header {
  font-size: 1.2rem;
  margin-bottom: auto;
}

.count {
  font-size: 4rem;
  color: #0f3263; 
  font-weight: bold;
  margin-top: auto;
}
