<div class="dashboard-container">
  <!-- Loading spinner -->
  <app-spinner *ngIf="loading()" [size]="'lg'" [variant]="'standard'"></app-spinner>
  
  <div class="summary" *ngIf="!loading()">
    <app-summary-tile></app-summary-tile>
  </div>

  <div class="charts-container" *ngIf="!loading()">
    <div class="chart-box">
      <app-commit-frequency-chart></app-commit-frequency-chart>
    </div>
    <div class="chart-box">
      <app-languages-used-chart></app-languages-used-chart>
    </div>
  </div>
  
  <!-- Error message when user data is not loaded -->
  <div *ngIf="!user() && !loading()">
    <tds-message type="error" heading="Failed to load data">
      We couldn't fetch your GitHub data. Please try again later.
    </tds-message>
  </div>
</div>
